    body {
        max-width: 540px;
        min-width: 320px;
        margin: 0 auto;
        font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
        color: #000;
        background: #f2f2f2;
        overflow-x: hidden;
        -webkit-tap-highlight-color: transparent;
    }
    
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .search-wrap {
        position: fixed;
        top: 0px;
        display: flex;
        width: 100%;
        max-width: 540px;
        min-width: 320px;
        height: 44px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    
    .search {
        flex: 1;
        height: 26px;
        border-radius: 8px;
        margin: 7px 10px;
        padding-left: 29px;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
        font-size: 12px;
        color: #666;
        line-height: 26px;
    }
    
    .search::before {
        content: "";
        display: block;
        position: absolute;
        top: 13px;
        left: 20px;
        width: 16px;
        height: 16px;
        background: url(../images/sprite.png) -58px -278px;
        background-size: 104px auto;
    }
    
    .mine {
        width: 44px;
        height: 44px;
        text-align: center;
        font-size: 12px;
        color: #2eaae0;
    }
    
    .mine::before {
        content: "";
        display: block;
        width: 23px;
        height: 23px;
        margin: 5px 10px -3px;
        background: url(../images/sprite.png) -58px -194px;
        background-size: 104px auto;
    }
    
    .focus {
        margin-top: 46px;
    }
    
    .focus img {
        width: 100%;
    }
    
    .nav-local {
        overflow: hidden;
        display: flex;
        height: 64px;
        margin: 0px 5px;
        border-radius: 8px;
        background-color: #fff;
    }
    
    .nav-local li {
        flex: 1;
        text-align: center;
    }
    
    .nav-local li a {
        display: block;
        width: 32px;
        height: 32px;
        margin: 8px auto -2px;
        background: url(../images/localnav_bg.png)no-repeat 0px 0px;
        background-size: 32px auto;
    }
    
    .nav-local li span {
        font-size: 12px;
        color: #222;
    }
    
    .nav-local li:nth-child(2) a {
        background-position: 0px -32px;
    }
    
    .nav-local li:nth-child(3) a {
        background-position: 0px -64px;
    }
    
    .nav-local li:nth-child(4) a {
        background-position: 0px -96px;
    }
    
    .nav-local li:nth-child(5) a {
        background-position: 0px -128px;
    }
    
    .nav {
        width: 100%;
        margin-top: 3px;
    }
    
    .nav-common {
        display: flex;
        height: 88px;
        margin: 0px 5px 3px;
        background-color: pink;
    }
    
    .common-item {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    .item-child {
        flex: 1;
        text-align: center;
        line-height: 44px;
        color: #fff;
        text-shadow: 1px 1px rgba(0, 0, 0, .2);
    }
    
    .nav-common .common-item:nth-child(1) a {
        background: url(../images/hotel.png) no-repeat bottom center;
        background-size: 121px auto;
    }
    
    .nav-common:nth-child(1) {
        border-radius: 8px 8px 0 0;
        background: -webkit-linear-gradient(left top, rgb(250, 91, 85), rgb(250, 152, 77));
    }
    
    .nav-common:nth-child(2) {
        background: -webkit-linear-gradient(left top, rgb(75, 144, 237), rgb(83, 188, 237));
    }
    
    .nav-common:nth-child(3) {
        border-radius: 0 0 8px 8px;
        background: -webkit-linear-gradient(left top, rgb(53, 194, 168), rgb(107, 213, 91));
    }
    
    .common-item:nth-child(1),
    .common-item:nth-child(2) {
        border-right: 1px solid #fff;
    }
    
    .item-child:first-child {
        border-bottom: 1px solid #fff;
    }
    
    .subnav-entry {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        padding: 8px;
        border-radius: 8px;
        background-color: #fff;
    }
    
    .subnav-entry li {
        flex: 20%;
    }
    
    .subnav-entry li a span:nth-child(1) {
        display: block;
        width: 28px;
        height: 28px;
        background: url(../images/subnav-bg.png) no-repeat;
        background-size: 28px auto;
    }
    
    .subnav-entry li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
    }
    
    .sales-box {
        margin: 5px;
        border-top: 1px solid #ccc;
        background-color: #fff;
    }
    
    .sales-hd {
        position: relative;
        height: 44px;
        border-bottom: 1px solid #ccc;
    }
    
    .hot {
        position: relative;
        text-indent: -999px;
        overflow: hidden;
    }
    
    .hot::after {
        position: absolute;
        top: 5px;
        left: 10px;
        content: "";
        display: block;
        width: 79px;
        height: 15px;
        background: url(../images/hot.png) 0px -20px;
        background-size: 79px auto;
    }
    
    .more {
        position: absolute;
        top: 0px;
        right: 5px;
        padding: 3px 5px 3px 12px;
        border-radius: 15px;
        font-size: 14px;
        color: #fff;
        background: -webkit-linear-gradient(left top, rgb(255, 81, 113), rgb(255, 105, 192))
    }
    
    .row {
        display: flex;
    }
    
    .row a {
        flex: 1;
    }
    
    .row a:nth-child(1) {
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
    }
    
    .row a:nth-child(2) {
        border-bottom: 1px solid #eee;
    }
    
    .row a img {
        width: 100%;
    }