.box {
    background-color: #fff;
}

.box>h5 {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    background-color: #ea5947;
}

.box .bd h5 {
    padding: 20px 20px 0;
    font-size: 20px;
    color: rgb(68, 68, 68);
}

.box .bd ul li {
    float: left;
    padding: 20px;
    font-size: 14px;
    color: #666;
}

.box .bd h5:nth-of-type(2) {
    color: #ea5947;
}

.box .bd .words {
    width: 500px;
    height: 300px;
    margin: 20px 0 0 20px;
    font-size: 16px;
    font-weight: 550;
    color: #000;
    vertical-align: bottom;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
    overflow-y: scroll;
    /* scrollbar-base-color: red; */
}

.words[placeholder] {
    font-size: 16px;
    font-weight: 550;
    color: #969696;
    padding: 10px 0 0 10px;
}

.box .bd .leave {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #ea5947;
}

.box .bd h5:nth-of-type(3) {
    color: #ea5947;
}

.box .bd .messages {
    width: 90%;
    margin: 0 auto;
}

.box .bd .messages li {
    width: 90%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.box .bd .messages li em {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    vertical-align: middle;
    background: url(../images/identify.png) no-repeat;
    background-size: 40px 40px;
}

.box .bd .messages li span {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 800;
}

.box .bd .messages li p {
    margin-left: 44px;
    font-size: 16px;
    color: #000;
}

.box .bd .messages .ft {
    margin: 10px 0 0 40px;
}

.box .bd .messages .ft span {
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

.box .bd .messages .ft span:nth-child(2)::before {
    content: '\e601';
    font-family: 'iconfont';
    font-size: 14px;
}

.box .bd .messages .ft span:nth-child(3)::before {
    content: '\e600';
    font-family: 'iconfont';
    font-size: 14px;
}